* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  width: 100%;
  height: 13vh;
  z-index: 990;
  left: 0%;
  top: 0;
  position: fixed;
  background: rgba(94, 174, 186, 0);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media only screen and (max-width: 1300px) {
  header {
    min-width: 320px;
  }
}

header::after {
  display: block;
  visibility: hidden;
  clear: both;
  content: "";
}

header.on {
  z-index: 1000;
  background: #aacfd8;
}

.head {
  z-index: 1000;
  background: transparent;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-left: 2%;
}

.head a img {
  height: 35px;
  padding: 0;
  margin: 0 70%;
}

.menu ul li {
  list-style-type: none;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px;
  word-spacing: 120px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  float: left;
  position: relative;
}

.menu ul li a {
  text-decoration: none;
  color: black;
}

.menu ul li a::after {
  content: "";
  display: block;
  width: 0%;
  height: 6px;
  background: rgba(94, 174, 186, 0.5);
  position: absolute;
  bottom: 0px;
  left: 0px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 0;
}

.menu ul li a:hover::after {
  width: 100%;
}

.menu-b ul li {
  list-style-type: none;
  padding: 15px;
  float: left;
}

.menu-b ul li img {
  height: 20px;
  margin: 0 -120%;
}

.main .main-title {
  text-align: center;
}

.main .main-title p {
  margin: 0 0 5px;
  font-size: 16px;
  margin-bottom: 5px;
}

.main .main-title b, .main .main-title span {
  font-size: 30px;
}

.main .slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.main .slider div {
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.main .slider div img {
  height: 100%;
}

.s_btn_prev {
  position: absolute;
  font-size: 26px;
}

.s_btn_prev img {
  cursor: pointer;
}

.s_btn_next {
  position: absolute;
}

.s_btn_next img {
  cursor: pointer;
}

.main2 {
  padding: 110px 0 110px;
  text-align: center;
  background: url(./photo/main_bg.png) no-repeat left top;
  background-size: cover;
}

.main2 .blue {
  color: #5eaeba;
  font-size: 40px;
}

.main2 .blue span {
  color: black;
}

.main2 p {
  font-size: 40px;
}

.main2 .grey {
  font-size: 15px;
  color: #9ba1ad;
  margin: 20px 0 30px;
}

.main2 a {
  background: black;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  opacity: 0;
  text-decoration: none;
  border-radius: 2px;
}

.main2.on .blue {
  -webkit-animation: fade 0.5s both;
          animation: fade 0.5s both;
}

.main2.on .blue b {
  -webkit-animation: fade 0.5s both;
          animation: fade 0.5s both;
}

.main2.on .blue span {
  -webkit-animation: fade 0.5s both;
          animation: fade 0.5s both;
}

.main2.on p {
  -webkit-animation: fade 1s 0.5s both;
          animation: fade 1s 0.5s both;
}

.main2.on .grey {
  -webkit-animation: fade 1.5 1s both;
          animation: fade 1.5 1s both;
}

.main2.on a {
  -webkit-animation: fade 1.8s 1.5s both;
          animation: fade 1.8s 1.5s both;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fade {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.main3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main3 .slider1 {
  width: 100%;
}

.main3 .slider1 a span {
  position: absolute;
  font-size: 20px;
  top: 42%;
  color: white;
  margin: 0 20px;
  z-index: 2;
}

.main3 .slider1 a button {
  position: absolute;
  top: 50%;
  padding: 5px;
  margin: 0 20px;
  z-index: 2;
  border: none;
  border-radius: 3px;
}

.main3 .slider1 a img {
  width: 100%;
  opacity: 80%;
}

.main4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.main4 .left {
  position: relative;
  padding: 80px 40px;
  background: #e5ecee8f;
  width: 100%;
}

.main4 p {
  text-align: left;
  font-size: 35px;
  margin: 0 0 30px;
  padding: 20px 70px 0;
  color: black;
}

.main4 p::before {
  content: '';
  display: block;
  width: 40px;
  height: 5px;
  background: #5eaeba;
}

.main4 span {
  color: #9ba1ad;
  font-size: 16px;
  padding: 20px 70px 0;
}

.right {
  width: 100%;
  padding: 80px 40px;
}

.right ul {
  display: block;
}

.right ul li {
  list-style: none;
  padding: 10px;
  width: 100%;
  position: relative;
  float: left;
}

.right ul li a {
  text-decoration: none;
  font-size: 20px;
  color: black;
  padding: 0 40px;
}

.right ul li a:hover {
  color: #5eaeba;
  text-decoration: underline;
}

.right ul li span {
  color: #9ba1ad;
  font-size: 16px;
}

fieldset {
  width: 100%;
  padding: 2% 5vh;
  border: none;
  background: #aacfda;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: relative;
}

fieldset .bottom-logo {
  height: 80px;
  margin: auto 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

fieldset ul {
  list-style: none;
  line-height: 35px;
  width: 100%;
}

fieldset ul li .middle-bottom b {
  font-size: 11px;
  margin: 15px 0 0;
}

fieldset .bottom-right {
  padding: 0 3%;
  width: 100%;
}

fieldset .bottom-right ul {
  margin-left: 20px;
}

fieldset .bottom-right ul li {
  float: right;
}

fieldset .bottom-right ul li a img {
  height: 16px;
  margin-left: 20px;
  -webkit-box-align: right;
      -ms-flex-align: right;
          align-items: right;
}

.secondpage {
  position: relative;
  background: #f7f8fa;
}

.company {
  background: #f7f8fa;
  position: relative;
  padding-top: 30vh;
  text-align: center;
}

.company h2 {
  position: relative;
  font-weight: 100;
  font-size: 50px;
  font-family: 'Montserrat', sans-serif;
}

.company h2::after {
  content: "";
  display: block;
  position: absolute;
  width: 16%;
  height: 10px;
  bottom: 1px;
  top: 40px;
  left: 42%;
  z-index: 0;
  background-color: rgba(171, 208, 217, 0.3);
}

.company p {
  text-align: center;
  color: #9ba1ad;
  margin-top: 30px;
  font-size: 20px;
}

.company button {
  font-size: 20px;
  font-weight: 900;
  padding: 20px 140px;
  color: white;
  border: none;
  background-color: #212224;
  margin-top: 100px;
  cursor: pointer;
}

.company button.active {
  background: #5eaeba;
}

.secondpage-2 {
  background: white;
  margin: 7% 5%;
  border-radius: 20px;
}

.company2 {
  padding-top: 10vh;
  text-align: center;
  background: url(./img/newbird/main_bg.png) no-repeat left top;
  background-size: cover;
}

.company2 .blue {
  color: #5eaeba;
  font-size: 40px;
}

.company2 .blue span {
  color: black;
}

.company2 p {
  font-size: 40px;
}

.company2 .grey {
  font-size: 15px;
  color: #9ba1ad;
  margin: 20px 0 30px;
}

.company3 {
  margin: 0 auto;
  width: 100%;
  padding-top: 10vh;
  line-height: 45px;
  text-align: center;
  font-size: 20px;
}

.company3 img {
  padding: 5% 40%;
  border-radius: 10px;
  background: #f7f8fa;
}

.company3 p {
  padding-top: 40px;
  color: #9ba1ad;
}

.company3 .color_black {
  color: black;
}

.company3 .color_mint {
  color: #5eaeba;
  font-weight: bolder;
}

.company4 {
  padding-top: 5%;
  padding-left: 10%;
}

.company4 h2 {
  padding-bottom: 5%;
  padding-top: 10%;
  font-size: 40px;
  font-weight: lighter;
}

.company4 h2::before {
  content: '';
  display: block;
  width: 50px;
  height: 5px;
  background: #5eaeba;
  position: absolute;
  margin: -13px 0px;
}

.company4 img {
  padding-left: 10%;
  margin-right: -186px;
}

.company4-1 {
  text-align: center;
  padding-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 200px;
  width: 100%;
  margin: 0 auto;
}

.company4-1 .a {
  background: url("./photo/about_icon_bg01.png") no-repeat left top;
  padding: 0;
  width: 330px;
  height: 330px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-transform: translateX(19%);
          transform: translateX(19%);
  padding: 6% 50px;
  line-height: 40px;
  font-size: 22px;
}

.company4-1 .a p {
  position: relative;
  color: white;
}

.company4-1 .b {
  background: url("./photo/about_icon_bg02.png") no-repeat;
  padding: 0;
  width: 330px;
  height: 330px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-transform: translateX(9%);
          transform: translateX(9%);
  padding: 6% 60px;
  line-height: 40px;
  font-size: 22px;
}

.company4-1 .b p {
  position: relative;
  color: white;
}

.company4-1 .c {
  background: url("./photo/about_icon_bg03.png") no-repeat;
  padding: 0%;
  width: 330px;
  height: 330px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding: 6% 70px;
  line-height: 40px;
  font-size: 22px;
}

.company4-1 .c p {
  position: relative;
  color: white;
}

.contact {
  padding: 10%;
}

.contact h2 {
  font-size: 40px;
  font-weight: lighter;
  padding-bottom: 2%;
}

.contact p {
  margin: 20px 0 0;
  font-size: 20px;
}

.contact p b {
  color: #5eaeba;
}

.contact::before {
  content: '';
  display: block;
  width: 40px;
  height: 5px;
  background: #5eaeba;
  left: 70px;
}

.about {
  display: none;
}

.about.on {
  display: block;
}

.thirdpage {
  position: relative;
  background: #f7f8fa;
}

.company {
  background: #f7f8fa;
  position: relative;
  padding-top: 30vh;
  text-align: center;
}

.company h2 {
  position: relative;
  font-weight: 100;
  font-size: 50px;
  font-family: 'Montserrat', sans-serif;
}

.company h2::after {
  content: "";
  display: block;
  position: absolute;
  width: 16%;
  height: 10px;
  bottom: 1px;
  top: 40px;
  left: 42%;
  z-index: 0;
  background-color: rgba(171, 208, 217, 0.3);
}

.audition {
  background: white;
  margin: 7% 5%;
  border-radius: 20px;
}

.attend {
  padding: 7% 20% 5% 10%;
}

.attend h2 {
  font-size: 40px;
  padding-bottom: 20px;
}

.attend h2::before {
  content: '';
  display: block;
  width: 40px;
  height: 5px;
  background: #5eaeba;
  top: 520px;
  left: 70px;
}

.attend a {
  color: #9ba1ad;
  font-size: 20px;
  padding-bottom: 10%;
}

.attend span {
  color: black;
  padding-bottom: 10%;
}

.step {
  text-align: center;
  padding-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 20%;
  width: 100%;
  position: relative;
  color: white;
}

.step .first {
  background: url("./photo/about_icon_bg01.png") no-repeat left top;
  padding: 0;
  width: 330px;
  height: 330px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-transform: translateX(18%);
          transform: translateX(18%);
  padding: 8% 50px;
  line-height: 40px;
  font-size: 22px;
  z-index: 2;
}

.step .first h4 {
  font-size: 30px;
}

.step .first span {
  position: relative;
  color: white;
}

.step .second {
  background: url("./photo/about_icon_bg02.png") no-repeat;
  padding: 0;
  width: 330px;
  height: 330px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-transform: translateX(9%);
          transform: translateX(9%);
  padding: 8% 60px;
  line-height: 40px;
  font-size: 22px;
}

.step .second h4 {
  font-size: 30px;
}

.step .second span {
  position: relative;
  color: white;
}

.step .third {
  background: url("./photo/about_icon_bg03.png") no-repeat;
  padding: 0;
  width: 330px;
  height: 330px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding: 8% 60px;
  line-height: 40px;
  font-size: 22px;
}

.step .third h4 {
  font-size: 30px;
}

.step .third span {
  position: relative;
  color: white;
}

.fourth {
  padding-left: 5%;
}

.fourth a {
  font-size: 20px;
  color: #9ba1ad;
}

.email {
  padding: 5%;
}

.email h2 {
  font-size: 40px;
}

.email p {
  list-style: none;
  text-align: center;
}

.email ul li {
  list-style-type: none;
  padding: 10px 30px;
  text-align: center;
}

.email ul li input {
  padding: 10px 30px;
}

.email ul li .blackbtn {
  background: black;
  color: white;
  padding: 10px 30px;
}

.email ul li .mintbtn {
  background: #5eaeba;
  color: white;
  padding: 10px 30px;
}

.check {
  padding: 0 5%;
}

.check h2 {
  font-size: 40px;
}

.check .lable {
  left: 10%;
}

.privacy_text {
  margin: 3% 10%;
  height: 250px;
  padding: 10px 20px;
  overflow-y: auto;
  border-radius: 10px;
  border: 1px solid #e7eaee;
  color: #9ba1ad;
  font-size: 16px;
  line-height: 30px;
}

.checkboxbtn {
  margin-bottom: 5%;
  position: relative;
  padding: 10px 50px;
  background: black;
  color: white;
  top: 10vh;
  left: 20%;
  display: inline-block;
  width: 260px;
  height: 60px;
  font-size: 18px;
}
/*# sourceMappingURL=maru.css.map */