* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  width: 100%;
  height: 13vh;
  background: #aacfda;
  z-index: 999;
  left: 0%;
  top: 0;
  position: fixed;
}

.head a img {
  height: 35px;
  padding: 0;
  margin: 0 70%;
}

.menu ul li {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px;
  word-spacing: 120px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  float: left;
}

.menu ul li a {
  text-decoration: none;
  color: black;
}

.menu ul li:hover {
  -webkit-text-decoration: teal;
          text-decoration: teal;
}

.menu-b ul li {
  list-style-type: none;
  padding: 15px;
  float: left;
}

.menu-b ul li img {
  height: 20px;
  margin: 0 -120%;
}

.main .main-title {
  text-align: center;
}

.main .main-title p {
  margin: 0 0 5px;
  font-size: 16px;
  margin-bottom: 5px;
}

.main .main-title b, .main .main-title span {
  font-size: 30px;
}

.main .slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.main .slider div {
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.main .slider div img {
  height: 100%;
}

.main2 {
  padding: 110px 0 110px;
  text-align: center;
  background: url(./img/newbird/main_bg.png) no-repeat left top;
  background-size: cover;
}

.main2 .blue {
  color: #5eaeba;
  font-size: 40px;
}

.main2 .blue span {
  color: black;
}

.main2 p {
  font-size: 40px;
}

.main2 .grey {
  font-size: 15px;
  color: #9ba1ad;
  margin: 20px 0 30px;
}

.main2 button {
  background: black;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
}

.main3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main3 .slider1 {
  width: 100%;
}

.main3 .slider1 img {
  width: 100%;
  opacity: 90%;
}

.main4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.main4 .left {
  position: relative;
  padding: 80px 40px;
  background: #e5ecee8f;
  width: 100%;
}

.main4 .left p {
  font-size: 35px;
  margin: 0 0 30px;
  padding: 20px 70px 0;
}

.main4 .left span {
  color: #9ba1ad;
  font-size: 16px;
  padding: 20px 70px 0;
}

.main4 .right {
  width: 100%;
  padding: 80px 40px;
}

.main4 .right ul {
  display: block;
}

.main4 .right ul li {
  list-style: none;
  padding: 10px;
  width: 100%;
  position: relative;
  float: left;
}

.main4 .right ul li a {
  text-decoration: none;
  font-size: 20px;
  color: black;
  padding: 0 50px;
}

.main4 .right ul li span {
  color: #9ba1ad;
  font-size: 16px;
}

fieldset {
  width: 100%;
  padding: 2% 5vh;
  border: none;
  background: #aacfda;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: relative;
}

fieldset .bottom-logo {
  height: 80px;
  margin: auto 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

fieldset ul {
  list-style: none;
  line-height: 35px;
  width: 100%;
}

fieldset ul li .middle-bottom b {
  font-size: 11px;
  margin: 15px 0 0;
}

fieldset .bottom-right {
  padding: 0 3%;
  width: 100%;
}

fieldset .bottom-right ul {
  margin-left: 20px;
}

fieldset .bottom-right ul li {
  float: right;
}

fieldset .bottom-right ul li a img {
  height: 16px;
  margin-left: 20px;
  -webkit-box-align: right;
      -ms-flex-align: right;
          align-items: right;
}

.company {
  position: relative;
  padding: 30vh;
  text-align: center;
  line-height: 100px;
}

.company h2 {
  font-weight: lighter;
  font-size: 50px;
}

.company p {
  text-align: center;
}
/*# sourceMappingURL=maru.css.map */